# 디폴트 무시된 파일
/shelf/
/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Go
# 컴파일된 실행 파일
*.exe
*.exe~
*.dll
*.so
*.a
*.test

# 빌드 결과물
/bin/
/build/
botory_project

# 의존성 폴더
/vendor/

# Docker
docker-compose.override.yml
